body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.nav{
  display: flex;
}
.nav li a {
  color: darkred;
  text-decoration: none;
}
.nav li a:hover{
  background-color: coral;
  color: white;
}
.category1{
  padding: 30px 5px 30px 5px;
  background-color: rgb(8, 65, 61);
}
.category1 a{
  text-decoration: none;
  color: white;
}
.category2{
  padding: 30px 5px 30px 5px;
  background-color: rgb(94, 25, 16);
}
.category2 a{
  text-decoration: none;
  color: white;
}
.category a:hover{
  color: lightskyblue;
}
.listFoodItemBox{
  margin-bottom: 5px;
  padding: 10px;
  color: darkolivegreen;
}
.foodBox{
  border: 1px solid lightcoral;
  border-radius: 5px;
  background-color: darkred;
  color: white;
  padding: 20px 5px 20px 5px;
}